@-moz-document url(about:newtab), url(about:home) { 
    .outer-wrapper {
      background-image: url(https://images5.alphacoders.com/104/1041982.jpg) !important;
      background-size: cover !important;
      background-attachment: fixed !important;
    }
    .activity-stream .top-site-inner .title {
      color: #fff !important;
    }
